nav{
    background-color: #2cdfe2;
}

.jumbotron{
    padding-top: 6rem;
    background-color: #2cdfe24b;
}
#project{
    background-color: #2cdfe24b;
}
footer{
    background-color: #2cdfe2;
}
